
/*  This entire doc is a layout experiment.
	I'm trying to learn how to place <div>s   
	and to learn how several different elements will
	"react" to one another in the browser. */


/* something that I ripped of off learnlayout.com: */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/* whenever I attempt to say "position: fixed;", then the .intro is suddenly encroaching 
    into or behind the header element */
header {
	background-color: #FAFF70;
	margin-top: 0px;
	position: fixed;
	width: 100%
}

html {
	padding: 0;
	border: 0;
	margin: 0;
	height: 100%;
	}
	
body {
	height: 100%;
	}


ul {
	list-style-type: none;
	background-color:  #FAFF70;
	margin-top: 0px;
	width: 100%;
	}
	
	
li {
	text-align: center;
	color: #7C8EA1;
	font-family: 'Caudex', serif;
	font-size: 1.5em;
	float: left;
	padding-left: 10%;
	text-indent: -2em;
	}
	
	
/*  hmmmm...   I'm trying to create margin left & right of the 
intro.  No luck.  Is this a function of headers? 

I try to change the margin-top so that it's not hiding behind the nav--
	when I do, then the problem remains, but now the element runs back over to margin-left: 0;
	
	what gives????
	
*/

.intro {
	background-color: #ededed;
	margin: 0 auto;
	width: 80%;

	}
	


/*  I don't understand "padding" here (in the #box):
	When I increase padding, it seems to increase #box's area
	rather than shrinking it--or moving it away from borders--
	which is what I'd expect.  */
	
	
/*  OK...  Putting a border around the .box gets rid of the unwanted 160px space at the 
	top of the view space.  WHY IS THIS?? Do not understand.  Conversely, removing the
	border will bring back the unwanted space.   Huh!!!     */
.box {
	background-color: #375736;
	height: 350px;
	width: 350px;
	border: 5px solid #878A79;

	}
	

/*  Currently, my "logo" (1) is situated lower than the containing div.
	Not understanding this at all.  Why is it "taller"?  */
.logo {
	color: #fff;
	font-size: 10em;
	text-align: center;
	}
	
	

#motto {
	color: #E9EDCC;
	font-family: garamond;
	background-color: #BF0221;
	margin: 0px;
	border: 3px dotted green;
	box-sizing: border-box
	}
	
h1, h2 {
	padding: 5px;
	}
	
#tagline {
	color: #E9EDCC;
	font-family: ariel;
	text-align: left;
	background-color: #878A79;
	margin: 0px;
	}
	
	
/* I used googlefonts for the "caudex" font here.  
	Just thought I'd try it out.  Linked from 
	the head in html.    */

#songtext {
	width: 600px;
	height: 400px;
	margin: 40px auto 100px auto;
}

p {
	color: #7C8EA1;
	font-family: 'Caudex', serif;
	font-size: 1.5em;
	padding-left: .5em;
	padding-right: .5em;
	
} 
	
	
	

	
	